<f:layout name="Neos.Form:Field" />
<f:section name="field">
	<f:form.select property="{element.identifier}" id="{element.uniqueIdentifier}" class="{element.properties.elementClassAttribute} form-control" options="{element.properties.options}" multiple="multiple" errorClass="{element.properties.elementErrorClassAttribute}" />
</f:section>