<f:layout name="Neos.Form:Field" />
<f:section name="field">
	<ul class="inputs-list" id="{element.uniqueIdentifier}">
		<f:for each="{element.properties.options}" as="label" key="value">
			<li>
				<label>
					<f:form.radio property="{element.identifier}" class="{element.properties.elementClassAttribute}" value="{value}" errorClass="{element.properties.elementErrorClassAttribute}" />
					<span>{label}</span>
				</label>
			</li>
		</f:for>
	</ul>
</f:section>